:root
{
  --grid-column-min-size: 300px;
}

/* ------------------------------------ */
/*             Containers               */
/* ------------------------------------ */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-column-min-size), 1fr));
  gap: 2px;
  justify-content: center;
 }
@media (max-width: 500px) {
  .grid-min-size{
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1600px) {
  .cell-smaller{
    --grid-column-min-size: 250px;
  }
}

.scroll-container {
  display: flex;
  gap: 1em;
  overflow-x: scroll;
  scroll-snap-type:x mandatory;
  scrollbar-width: none;
  padding: 15px 0;
  justify-content: center;
}
.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-container > .item {
  scroll-snap-align: start;
  flex-shrink: 0;
}


.card-container{
  margin: 10px;
  width: 450px;
  aspect-ratio: 2/1.3;
}

@media (max-width: 500px) {
  .card-container{
    width: 100%;
  }
}

/* ------------------------------------ */
/*                Page                  */
/* ------------------------------------ */
.page {
  margin: 0 50px;
  height: 100%;
}
@media (max-width: 800px) {
  .page{
      margin: 0 20px;
  }
}

.page h1 {
  margin: 10px 0px 5px 0px;
}
.page h2{
  margin: 5px 0px 5px 0px;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
}

.page > .content {
  max-width: min(90%, 1200px);
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 600px) {
  .page > .content {
    padding: 0 50px;
  }
}

/* ------------------------------------ */
/*               Boxes                  */
/* ------------------------------------ */
/*  General  */
.box-margin{
  margin: min(10px, 5%);
}

/*  Pretty Box  */
.pretty-box{
  min-width: 50px;
  min-height: 50px;

  border: 2px solid rgb(var(--custom-border-color));
  border-radius: 15px;
  padding: min(5px, 2%) 0;

  background-color: rgba(var(--custom-bg-color), var(--box-opacity));
  font-size: 20px;
}
.pretty-box .btn {
  color: var(--body-color-hex);
}
.pretty-box .btn:hover {
  color: var(--bg-color-hex) !important;
}

.pretty-box a{
  color: var(--custom-light-color);
}
.pretty-box a:hover{
  color: var(--link-hover-hex);
}
.pretty-box h1{
  text-align: center;
  font-size: 40px;
  margin: 0 5% 0 5%;
}
.pretty-box h2{
  text-align: center;
  font-size: 32px;
  margin: auto;
}
.pretty-box p{
  line-height: 26px;
}
@media (max-width: 1500px) {
  .pretty-box p{
    font-size: 18px;
  }
}

/*  Cristal Bottle  */
.glass-bottle-outside {
  min-width: 50px;
  min-height: 50px;

  border: 2px solid var(--custom-light-color);
  background-color: rgba(var(--custom-border-color), 0.35);
  border-radius: 15px;
  padding: 10px;
}

.glass-bottle-inside {
  width: 100%;
  height: 100%;

  border: 2px solid rgba(var(--custom-border-color), 0.5);
  background-color: rgba(var(--custom-bg-color), 0.25);
  border-radius: 10px;
}

.glass-bottle-inside a{
  color: var(--custom-light-color);
}
.glass-bottle-inside a:hover{
  color: var(--link-hover-hex);
}

.glass-bottle-inside .tag{
  color: var(--custom-dark-color);
}

/* ------------------------------------ */
/*               Card                   */
/* ------------------------------------ */
.card {
  width: 100%;
  height: 100%;
  position: relative;
  padding: min(10px, 2%) min(10px, 5%);
}

.card-header{
  border-bottom: 1px solid var(--custom-border-color);
  height: 20%;
  width: 100%;
}

.card-body{
  height: 180px;
  padding-bottom: min(5px);
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-footer{
  width: 100%;
}

.card h3{
  text-align: left !important;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  margin: 0px;
}
.card p{
  margin: min(10px, 5%) 0px;
}

/* ------------------------------------ */
/*               Banner                 */
/* ------------------------------------ */
.banner {
  height: 100%;
  background-image: url('/images/banners/bg_banner.webp');
  text-align: center;
}

.banner img {
  width: 100%;
  max-width: 1000px;
}
@media(max-width:600px) {
  .banner img{
    width: 100%;
    max-width: 500px;
  }
  #LargeBanner { width: 0px; }
}
@media(min-width:601px) {
  #SmallBanner { width: 0px; }
}

.banner h1{
  font-family: var(--heading-font-family);
  font-size: 50px;
  font-weight: 1000;
}
.banner h2{
  font-family: var(--body-font-family);
  font-weight: 500;
}

/* ------------------------------------ */
/*              NavBar                 */
/* ------------------------------------ */
.navbar {
  padding: min(10px, 5%) min(20px, 10%);
  border-top: 2px solid var(--section-border-color);
  border-bottom: 2px solid var(--section-border-color);
  background-color: var(--navbar-bg-color);

  background-image: var(--navbar-bg-img-1);
  background-repeat: repeat-x;

  display: flex;
  flex-wrap: nowrap;
}

/* Nabvar Animation */
@-webkit-keyframes navbar-bg-anim {
  0% {background-image: var(--navbar-bg-img-1);}
  12% {background-image: var(--navbar-bg-img-3);}
  24% {background-image: var(--navbar-bg-img-2);}
  36% {background-image: var(--navbar-bg-img-3);}
  48% {background-image: var(--navbar-bg-img-1);}
  60% {background-image: var(--navbar-bg-img-3);}
  72% {background-image: var(--navbar-bg-img-2);}
  84% {background-image: var(--navbar-bg-img-3);}
  /*100% {background-position-x: 60px;}*/
}
@-moz-keyframes navbar-bg-anim {
  0% {background-image: var(--navbar-bg-img-1);}
  12% {background-image: var(--navbar-bg-img-3);}
  24% {background-image: var(--navbar-bg-img-2);}
  36% {background-image: var(--navbar-bg-img-3);}
  48% {background-image: var(--navbar-bg-img-1);}
  60% {background-image: var(--navbar-bg-img-3);}
  72% {background-image: var(--navbar-bg-img-2);}
  84% {background-image: var(--navbar-bg-img-3);}
  /*100% {background-position-x: 60px;}*/
}
@-o-keyframes navbar-bg-anim {
  0% {background-image: var(--navbar-bg-img-1);}
  12% {background-image: var(--navbar-bg-img-3);}
  24% {background-image: var(--navbar-bg-img-2);}
  36% {background-image: var(--navbar-bg-img-3);}
  48% {background-image: var(--navbar-bg-img-1);}
  60% {background-image: var(--navbar-bg-img-3);}
  72% {background-image: var(--navbar-bg-img-2);}
  84% {background-image: var(--navbar-bg-img-3);}
  /*100% {background-position-x: 60px;}*/
}
@keyframes navbar-bg-anim{
  0% {background-image: var(--navbar-bg-img-1);}
  12% {background-image: var(--navbar-bg-img-3);}
  24% {background-image: var(--navbar-bg-img-2);}
  36% {background-image: var(--navbar-bg-img-3);}
  48% {background-image: var(--navbar-bg-img-1);}
  60% {background-image: var(--navbar-bg-img-3);}
  72% {background-image: var(--navbar-bg-img-2);}
  84% {background-image: var(--navbar-bg-img-3);}
  /*100% {background-position-x: 60px;}*/
}

html.animated {
  .navbar
  {
    animation: navbar-bg-anim 3s infinite;
    -webkit-animation: navbar-bg-anim 3s infinite;
    -moz-animation: navbar-bg-anim 3s infinite;
    -o-animation: navbar-bg-anim 3s infinite;

    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  
}

.navlinks {
  display: flex;
  flex-wrap: inherit;
  flex-direction: row;
  align-items: center;
  
  margin: 10px auto !important;
  padding: 0px;
}

.navlinks a{
  padding: 0 10px;
  font: var(--font-monospace);
  text-decoration: none;
}
.navlinks a:hover {
  color: var(--link-hover-hex);
}

.nav-link{
  color: var(--body-color-hex);
}
.nav-current {
  color: var(--main-color);
}

/* ------------------------------------ */
/*           Page Section               */
/* ------------------------------------ */
.page-section {
  margin: 10px;
}

.page-section-var {
padding: 10px;
border-top: 2px solid var(--section-border-color);
border-bottom: 2px solid var(--section-border-color);
background-color: var(--section-bg-color);
}

/* ------------------------------------ */
/*              Footer                  */
/* ------------------------------------ */
footer {
  display: block;
  margin-top: auto;
  padding: 10px 20px 10px 20px;
  border-top: 1px solid var(--section-border-color);
  background-color: var(--section-bg-color);

  text-align: center;
  font-size: 10px;
  line-height: 10px;
}

/* ------------------------------------ */
/*              Buttons                 */
/* ------------------------------------ */
/* Base Button */
.btn {
  background-color: rgba(var(--custom-bg-color), 0.65);
  border-radius: 15px;
  color: var(--body-color-hex);
  text-align: center;
  margin: 2px;
  border-width: 0px;
}

.btn:hover {
  outline: 2px solid var(--button-border-hover-hex);
  background-color: var(--button-hover-fill-hex);
  color: var(--body-color-hex) !important;
}

.btn img {
  width: 95%;
  margin: 2.5%;
  opacity: 0.65;
}
.btn img:hover{
  opacity: 1.0;
}

/* Button Shapes */
.point-left {
  border-radius: 50px 15px 15px 50px !important;
}
.point-right {
  border-radius: 15px 50px 50px 15px !important;
}
.round {
  border-radius: 50% !important;
}
.btn-img{
  color: var(--body-color-hex);
}
.btn-img:hover{
  color: var(--link-hover-hex);
}

/* ---------- */
/*    Tags    */
/* ---------- */
.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tag {
  margin: 4px;
  padding: 2px 5px;
  border-width: 0px;
}

/* ------------------------------------ */
/*               Helpers                */
/* ------------------------------------ */

.hide-oveflow { overflow: hidden; }

/* --> Width <--- */

.w-1 { width: 10%; }
.w-2 { width: 20%; }
.w-3 { width: 30%; }
.w-4 { width: 40%; }
.w-5 { width: 50%; }
.w-6 { width: 60%; }
.w-7 { width: 70%; }
.w-8 { width: 80%; }
.w-9 { width: 90%; }
.w-full { width: 100%; }

@media (max-width: 950px) {
  .w-3, .w-6 { width: 100%; }
}

/* --> Margin <--- */
.mh-auto {
  margin-left: auto;
  margin-right: auto;
}

.mv-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.ml-auto{ margin-left: auto; }
.mr-auto { margin-right: auto; }

/* --> Flex <--- */

.flex-wrap{
  display: flex;
  flex-wrap: wrap;
}

.flex-nowrap{
  display: flex;
  flex-wrap: nowrap;
}

.center-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.center-evenly-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.center{ text-align: center; }
