:root {
    
    /* Useful Variables */
    --at-bg-color: 104, 197, 255;
    --heading-font-family: "Nunito", sans-serif;
    --heading-font-weight: 1000;
    --body-font-family: "Sono", monospace;
    --body-font-size: 1rem;
    --body-font-weight: 400;
    --body-line-height: 1.5;

    --fixed-width-max: 90vw;
    --fixed-width-min: 75vw;

    --bg-img-1: url('/images/general/backgrounds/moche_1.webp');
    --bg-img-2: url('/images/general/backgrounds/moche_2.webp');
    --navbar-bg-img-1:url('/images/general/backgrounds/FresnoMar_Frame1.webp');
    --navbar-bg-img-2:url('/images/general/backgrounds/FresnoMar_Frame2.webp');
    --navbar-bg-img-3:url('/images/general/backgrounds/FresnoMar_Frame3.webp');


}

html {
    /* Main Color */
    --main-color: #16c1f5;
    --main-color-values: 22, 193, 245;

    /* Buttons */
    --button-border-hover-hex: #f5c762;
    --button-hover-fill-hex: #ae8d47;
    /* Links */
    --link-hex: #fff3bb;
    --link-hover-hex: #f5c762;

    /* Pink */
    --border-pink: rgb(152, 17, 120);
    --fill-pink: 109, 53, 92;
    --btn-pink: rgb(142, 71, 142);
    --light-pink: rgb(228, 196, 220);
    --dark-pink: rgb(49, 11, 40);
    
    /* Purple */
    --border-purple: rgb(58, 17, 152);
    --fill-purple: 62, 53, 109;
    --btn-purple: rgb(91, 71, 142);
    --light-purple: rgb(216, 206, 241);
    --dark-purple: rgb(18, 8, 43);

    /* Blue */
    --border-blue: rgb(37, 116, 165);
    --fill-blue: 49, 86, 109;
    --btn-blue: rgb(71, 120, 142);
    --light-blue: rgb(180, 209, 227);
    --dark-blue: rgb(25, 41, 52);

    /* Green */
    --border-green: rgb(31, 143, 100);
    --fill-green: 132, 216, 184;
    --btn-green: rgb(71, 142, 72);
    --light-green: rgb(180, 227, 209);
    --dark-green: rgb(25, 52, 42);

    /* Useful Variables */
    --box-opacity: 0.8;
    --bg-color-hex: #0c0c0c;
    --bg-color-rgb: 12, 12, 12;
    --section-border-color: #2574a5;
    --section-bg-color: rgb(104, 197, 255, 0.4);
    --section-btn-color: rgb(71, 163, 221);
    --navbar-bg-color: #345970;
    --body-color-hex: #f9f9f9;
    --body-color-rgb: 249, 249, 249;    
}

html.light {
  /* Main Color */
  --main-color: #086885;
  --main-color-values: 8, 104, 133;

  /* Links */
  /* Normal */
  --side-color: #f5c762;
  --side-color-values: 245, 199, 98;
  /* fill */
  --link-color: #fff3bb;
  --link-color-values: 255, 243, 187;

  /* Pink */
  --border-pink: #981178;
  --border-pink-values: 255, 116, 213;
  --fill-pink: #981178;
  --fill-pink-values: 152, 17, 120;

  /* Purple */
  --border-purple: #8974ff;
  --border-purple-values: 137, 116, 255;
  --fill-purple: #a396ec;
  --fill-purple-values: 163, 150, 236;

  /* Blue */
  --border-blue: #68c5ff;
  --border-blue-values: 104, 197, 255;
  --fill-blue: #2574a5;
  --fill-blue-values: 37, 116, 165;

  /* Green */
  --border-green: #1f8f64;
  --border-green-values: 31, 143, 100;
  --fill-green: #84d8b8;
  --fill-green-values: 132, 216, 184;

  /* Useful Variables */
  --at-bg-border: #fff;
  --box-opacity: 0.75;
  --bg-color-hex: #e3edf0;
  --bg-color-rgb: 227, 237, 240;
  --section-border-color: #68c5ff;
  --section-bg-color: rgba(104, 197, 255, 0.75);
  --body-color-hex: #0c0c0c;
  --body-color-rgb: 236, 236, 236;
}

@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito/Nunito-Regular.woff2') format('woff2'),
        url('/fonts/Nunito/Nunito-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito/Nunito-Bold.woff2') format('woff2'),
        url('/fonts/Nunito/Nunito-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sono Monospace';
    src: url('/fonts/Sono/SonoMonospace-Bold.woff2') format('woff2'),
        url('/fonts/Sono/SonoMonospace-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sono Monospace';
    src: url('/fonts/Sono/SonoMonospace-Regular.woff2') format('woff2'),
        url('/fonts/Sono/SonoMonospace-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* ------------------------------------ */
/*                Body                  */
/* ------------------------------------ */

html{
    overflow-x:hidden
}

body {
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    line-height: var(--body-line-height);
    font-optical-sizing: auto;
    font-variation-settings: "MONO" 1;

    background-color: var(--bg-color-hex);
    background-image: var(--bg-img-1);
    color: var(--body-color-hex);
    margin: 0;

    min-height: 100vh;
}
body ::before, ::after {
    box-sizing: border-box;
}

.body-background {
    background: rgba(var(--body-color-rgb), 0.15);
}

.main-body{
    padding: 5px 0px;
    min-height: 80vh;

    background: var(--bg-color-hex);
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-image-source: url('/images/general/pixel_art_border.svg');
    border-image-repeat: round;
    border-image-slice: 5.5%;
}
.fixed-width{
    max-width: var(--fixed-width-max);
    min-width: var(--fixed-width-min);
    width: 50%;
}
@media (max-width: 800px) {
.main-body{
    width: 100%;
}
}

/* ------------------------------------ */
/*                Text                  */
/* ------------------------------------ */
h1 {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    font-style: normal;
    font-size: 42px;
}

h2 {
    font-family: var(--heading-font-family);
    font-weight: 1000;
    font-style: normal;
}

.txt-s{
    font-size: 12px !important;
}

/* ------------------------------------ */
/*               Links                  */
/* ------------------------------------ */
a{
    color: var(--link-hex);
    text-decoration: none;
}
a:hover{
    color: var(--link-hover-hex);
}
.disabled {
    pointer-events: none;
}

/* ------------------------------------ */
/*               Lists                  */
/* ------------------------------------ */
ul li::marker {
    content: "🌙 ";
}

/* ------------------------------------ */
/*        Customization Block           */
/* ------------------------------------ */
.green {
    --at-bg-border: var(--border-green);
    --at-bg-color: var(--fill-green);
    --at-btn-color: var(--btn-green);
    --at-text-color: var(--light-green);
    --custom-dark-color: var(--dark-green);
}
.blue {
    --at-bg-border: var(--border-blue);
    --at-bg-color: var(--fill-blue);
    --at-btn-color: var(--btn-blue);
    --at-text-color: var(--light-blue);
    --custom-dark-color: var(--dark-blue);
}
.purple {
    --at-bg-border: var(--border-purple);
    --at-bg-color: var(--fill-purple);
    --at-btn-color: var(--btn-purple);
    --at-text-color: var(--light-purple);
    --custom-dark-color: var(--dark-purple);
}
.pink {
    --at-bg-border: var(--border-pink);
    --at-bg-color: var(--fill-pink);
    --at-btn-color: var(--btn-pink);
    --at-text-color: var(--light-pink);
    --custom-dark-color: var(--dark-pink);
}
.black {
    --at-bg-border: var(--black);
    --at-bg-color: var(--black-values);
}