---
const title = "About";
const banner = "banner";

import PageLayout from '../../layouts/PageLayout.astro';
---
<PageLayout title={title} banner={banner} navCode={title}>
  <h1>About Me</h1>

  <h2>This is empty!</h2>

  <p>There's nothing here, at least for now</p>
</PageLayout>
