@font-face {
    font-family: 'Sono Monospace';
    src: url('SonoMonospace-Bold.woff2') format('woff2'),
        url('SonoMonospace-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sono Monospace';
    src: url('SonoMonospace-Regular.woff2') format('woff2'),
        url('SonoMonospace-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

