---
---

<footer id="footer">
    MADE BY <a href="https://www.github.com/anami-codes" target="_blank">@anami-codes</a> ✨ USING <a href="https://astro.build/" target="_blank">Astro</a>
    <script>
    document.getElementById("myBtn").onclick = function() {myFunction()};
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
    </script>
</footer>