---
import { Icon } from 'astro-icon/components'
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import LanguagePicker from '../components/btn_language.astro';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { currentPage } = Astro.props;

---
<div class="navbar">
    <button id="myBtn" class="navlinks-dropdown btn blue">{t('nav.menu')} > </button>
    <div class="navlinks">
        <div id="myDropdown" class="navlinks-content">
            <div class={currentPage === "Home" ? "nav-current" : "nav-link"}>🌙 <a href=`/${lang}/` > {t('nav.home')} </a></div>
            <div class={currentPage === "About" ? "nav-current" : "nav-link"}>🌙 <a href=`/${lang}/about/`> {t('nav.about')} </a></div>
            <div class={currentPage === "Blog" ? "nav-current" : "nav-link"}>🌙 <a href=`/${lang}/blog/` > {t('nav.blog')} </a></div>
            <div class="nav-link">🌙 <LanguagePicker lang={lang} /></div>
        </div>
    </div>
</div>