---
const {startPost, maxPosts, posts} = Astro.props;

import DevlogCard from "./blog_postCard.astro";

---
<div class="center-flex">
    {posts.slice(startPost, maxPosts).map(
        (post: any) => 
            <DevlogCard 
            title={post.data.titleShort != null ? post.data.titleShort : post.data.title } 
            url={`/blog/${post.id}/`} 
            date={post.data.pubDate} 
            description={post.data.description}
            tags={post.data.tags} />
        )
    }
</div>