---
const {startPost, maxPosts} = Astro.props;

import DevlogCard from "./snippets/devlogCard.astro";

import { getCollection } from 'astro:content';
const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

---
<div class="center-flex">
    {posts.slice(startPost, maxPosts).map(
        (post: any) => 
            <DevlogCard 
            title={post.data.titleShort != null ? post.data.titleShort : post.data.title } 
            url={`/blog/${post.id}/`} 
            date={post.data.pubDate} 
            excerpt={post.data.description}
            tags={post.data.tags} />
        )
    }
</div>