---
const {gameName, imgName, itchName} = Astro.props;
---

<a href={`https://anami.itch.io/${itchName}`} target="_blank" class="game-btn">
    <img src={`/images/portafolio/${imgName}.webp`} alt={gameName}>
</a>