---
import PageLayout from './PageLayout.astro';
import '../styles/blog.css'

const{frontmatter} = Astro.props;
---

<PageLayout title={frontmatter.title} banner={frontmatter.banner} navCode="Blog">
  <h1>{ frontmatter.title }</h1>
  <h2>{ frontmatter.subtitle }</h2>
  <p> 
    { frontmatter.date.toString().slice(0,10) } || Tags: 
  </p>
  <hr>
  <div class="content">   
    <slot />
  </div>
  <hr>
  AAAA
</PageLayout>