---
import type { CollectionEntry } from 'astro:content';
import PageLayout from './PageLayout.astro';
import FixedDate from '../components/format/date.astro';
import FixedTags from '../components/format/tagList.astro';
import '../styles/blog.css'

type Props = CollectionEntry<'blog'>['data'];

const { title, subtitle, pubDate, banner, slug, tags } = Astro.props;
---

<PageLayout title={title} banner={banner != null ? banner : "banner"} navCode="Blog" url={slug}>
  <h1>{ title }</h1>
  <h2>{ subtitle }</h2>
  <p> 
    <FixedDate date={pubDate} /> || Tags: <FixedTags tags={tags} />
  </p>
  <hr>
  <div class="content blog">   
    <slot />
  </div>
  <hr>
  AAAA
</PageLayout>