---
import BaseLayout from "./BaseLayout.astro";

const {title, banner, navCode} = Astro.props;
---

<BaseLayout title={title} banner={banner} navCode={navCode}>
    <div style="min-height: 80vh;">
    <slot />
    </div>
</BaseLayout>